<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css"
        rel="stylesheet" type="text/css"/>

  <!--BOOTSTRAP ICON-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
<!--navigation-->
<header th:fragment="navigation"
        class="navbar navbar-dark bg-dark navbar-expand-lg container">
  <a class="navbar-brand" href="#">Панель навигации</a>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a th:href="${'/main'}" class="nav-link px-2 link-dark">Главная</a></li>
  </ul>
</header>

<div class="container mt-4">
  <div class="row gutters-sm">
    <div class="card col mb-3">
      <table class="card-body table table-bordered">
        <thead>
        <tr>
          <th scope="col">Номер ресурса</th>
          <th scope="col">Кол-во заявок</th>
          <th scope="col">P отказа</th>
          <th scope="col">Т пребывания</th>
          <th scope="col">Т ожидания</th>
          <th scope="col">Т обслуживания</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="answer: ${columnsFirst}">
          <tr>
            <td th:text="${answer.getSourceNumber()}"></td>
            <td th:text="${answer.getCountRequest()}"></td>
            <td th:text="${answer.getPOtc()}"></td>
            <td th:text="${answer.getTPreb()}"></td>
            <td th:text="${answer.getTOjid()}"></td>
            <td th:text="${answer.getTObs()}"></td>
          </tr>
        </div>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row gutters-sm">
    <div class="card col mb-3">
      <table class="card-body table table-bordered">
        <thead>
        <tr>
          <th scope="col">Номер прибора</th>
          <th scope="col">Коэф. использования</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="answer1: ${columnsDevice}">
          <tr>
            <td th:text="${answer1.getNumberDevice()}"></td>
            <td th:text="${answer1.getKoef()}"></td>
          </tr>
        </div>
        </tbody>
      </table>
    </div>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>

</body>
</html>